@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.about-container {
    width: 60vw;
    height: 50vh;
    margin-left: 70px;
    padding: 80px 50px;
}

a {
    text-decoration: none;
    color: var(--color-primary-purple);
    margin-left: 10px;
    padding: 5px;
}

a:hover {
    background-color: var(--color-secondary-purple);
    color: black;
    border-radius: 2px;
}