@import url("styles.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.cont-intro {
    width: 60rem;
    flex: column;
    align-items: flex-start;
}

.lib-brand {
    display: grid;
    place-items: center;
}

.lib-name { 
    font-size: 3.5em;
    font-weight: bold;
    color: var(--color-primary-purple);
    padding-bottom: 50px;
}

.lib-summary {
    width: inherit;
    font-size: 1.9em;
    margin-top: 10px;
}

.lib-buttons button {
    font-size: 1.8em; 
    height: 80px; 
    width: 290px; 
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
}

.button-getstarted {
    margin-right: 30px;
    background-color: var(--color-primary-purple);
    border: none;
}

.button-getstarted a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.button-getstarted a:hover {
    color: black;
}

.button-github {
    color: var(--color-primary-purple);
    border: 2px solid var(--color-primary-purple);
}

.button-github a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--color-primary-dark);
}

.button-github:hover {
    color: black;
}

.button-github a:visited {
    text-decoration: none;
    color: inherit;
}