@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

:root {
    --color-primary-grey: #6b7280;
    --color-primary-red: #ef4444;
    --color-primary-yellow: #f59e0b;
    --color-primary-green: #10b981;
    --color-primary-pink: #ec4899;
    --color-primary-purple: #8b5cf6;
    --color-primary-blue: #3b82f6;
  
    --color-secondary-grey: #e5e7eb;
    --color-secondary-red: #fecaca;
    --color-secondary-yellow: #fef3c7;
    --color-secondary-green: #a7f3d0;
    --color-secondary-pink: #fbcfe8;
    --color-secondary-purple: #ddd6fe;
    --color-secondary-blue: #c7d2fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
}

header {
    height: 10vh;
    width: 100%;
}

.container-page {
    height: 90vh;
    width: 100%;
    padding-bottom: 3rem;
}

.h-link:hover {
    border: none;
    background: var(--color-primary-purple);
    color: white;
    border-radius: 2px;
}

.nav {
    width: 20rem;
}

.nav-list {
    width: 18rem;
    height: 2rem;
}

.nav-list:hover {
    background-color: var(--color-secondary-purple);
    border-radius: 3px;
}

iframe {
    margin: 1.5rem;
    margin-bottom: 0rem;
    width: 60rem; 
    height: 18rem; 
    border: 0; 
    transform: scale(1); 
    overflow: hidden;
}

.iframe-large {
    height: 20rem;
}

.iframe-xl {
    height: 22rem;
}

/* UTILITIES */
/* Z Index Values */
.z-index-5 { z-index: 5; }
.z-index-6 { z-index: 6; }
.z-index-7 { z-index: 7; }

/* Height and Width */
.h-100 { height: 100%; }
.h-75 { height: 75%; }
.h-50 { height: 50%; }
.h-30 { height: 30%; }
.h-25 { height: 25%; }
.h-auto { height: auto; }
.h-fit { height: fit-content; }
.h-inherit { height: inherit; }

.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-auto { width: auto; }
.w-inherit { width: inherit; }
.w-fit { width: fit-content; }

/* Text Sizes */
.txt-xl { font-size: 1.5em; }
.txt-l { font-size: 1.2em; }
.txt-s { font-size: 0.8em; }
.txt-xs { font-size: 0.5em; }

/* Coloured Text */
.txt-red { color: var(--color-primary-red); }
.txt-blue { color: var(--color-primary-blue); }
.txt-green { color: var(--color-primary-green); }
.txt-grey { color: var(--color-primary-grey); }
.txt-pink { color: var(--color-primary-pink); }
.txt-yellow { color: var(--color-primary-yellow); }
.txt-purple { color: var(--color-primary-purple); }
.txt-white { color: white; }
.txt-black { color: black; }

/* Center text */
.txt-center { text-align: center; }

/* Text Weights */
.txt-100 { font-weight: 100; }
.txt-200 { font-weight: 200; } 
.txt-300 { font-weight: 300; }
.txt-400 { font-weight: 400; }
.txt-500 { font-weight: 500; }
.txt-700 { font-weight: 700; }

/* Text Decoration */
.txt-deco-none { text-decoration: none; }
.txt-underline { text-decoration: underline; }
.txt-ellipsis { 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

/* Borders */
.bdr-none { border: none; }
.bdr-thin { border: 1px solid black; }
.bdr-thick { border: 2px solid black; }

/* Border Radius */
.bdr-rad-s { border-radius: 1px; }
.bdr-rad-m { border-radius: 3px; }
.bdr-rad-l { border-radius: 5px; }
.bdr-rad-xl { border-radius: 999px; }
.bdr-rad-round { border-radius: 50%; }

/* Border Color */
.bdr-red { border-color: var(--color-primary-red); }
.bdr-blue { border-color: var(--color-primary-blue); }
.bdr-green { border-color: var(--color-primary-green); }
.bdr-grey { border-color: var(--color-primary-grey); }
.bdr-pink { border-color: var(--color-primary-pink); }
.bdr-yellow { border-color: var(--color-primary-yellow); }
.bdr-purple { border-color: var(--color-primary-purple); }
.bdr-none { border-color: transparent; }

/* Shadow */
.bs { box-shadow: 6px 6px 22px 0px rgba(114,114,114,0.5); }

/* Cursor */
.csr-point { cursor: pointer; }
.csr-default { cursor: context-menu; }

/* Containers */
.cont-fluid {
    margin: 1rem 2rem;
    width: 100%;
    height: auto;
}
.cont-col-centered {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CARDS */
.card { position: relative; }
.card-w-40 { width: 40rem; }
.card-w-30 { width: 30rem; }
.card-w-25 { width: 25rem; }
.card-w-20 { width: 20rem; }
.card-h-40 { height: 40rem; }
.card-h-30 { height: 30rem; }
.card-h-25 { height: 25rem; }
.card-h-20 { height: 20rem; }

.card-vert { width: 20rem; height: auto; }
.card-hor { width: 40rem; height: auto; }

.card-inline { display: inline; }
.card-inline-block { display: inline-block; }
.card-table { display: table; }

/* Padding */
.pd-2 { padding: 2rem; }
.pd-1 { padding: 1rem; }
.pd-05 { padding: 0.5rem; }
.pd-025 { padding: 0.25rem; }

.pd-tb-2 { padding-top: 2rem; padding-bottom: 2rem; }
.pd-tb-1 { padding-top: 1rem; padding-bottom: 1rem; }
.pd-tb-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.pd-tb-025 { padding-top: 0.25rem; padding-bottom: 0.25rem; }

.pd-lr-2 { padding-left: 2rem; padding-right: 2rem; }
.pd-lr-1 { padding-left: 1rem; padding-right: 1rem; }
.pd-lr-05 { padding-left: 0.5rem; padding-right: 0.5rem; }
.pd-lr-025 { padding-left: 0.25rem; padding-right: 0.25rem; }

.pd-l-2 { padding-left: 2rem; }
.pd-l-1 { padding-left: 1rem; }
.pd-l-05 { padding-left: 0.5rem; }
.pd-l-025 { padding-left: 0.25rem; }

.pd-r-2 { padding-right: 2rem; }
.pd-r-1 { padding-right: 1rem; }
.pd-r-05 { padding-right: 0.5rem; }
.pd-r-025 { padding-right: 0.25rem; }

.pd-t-2 { padding-top: 2rem; }
.pd-t-1 { padding-top: 1rem; }
.pd-t-05 { padding-top: 0.5rem; }
.pd-t-025 { padding-top: 0.25rem; }

.pd-b-2 { padding-bottom: 2rem; }
.pd-b-1 { padding-bottom: 1rem; }
.pd-b-05 { padding-bottom: 0.5rem; }
.pd-b-025 { padding-bottom: 0.25rem; }

/* Margin */
.mg-2 { margin: 2rem; }
.mg-1 { margin: 1rem; }
.mg-05 { margin: 0.5rem; }
.mg-025 { margin: 0.25rem; }

.mg-tb-2 { margin-top: 2rem; margin-bottom: 2rem; }
.mg-tb-1 { margin-top: 1rem; margin-bottom: 1rem; }
.mg-tb-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.mg-tb-025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }

.mg-lr-2 { margin-left: 2rem; margin-right: 2rem; }
.mg-lr-1 { margin-left: 1rem; margin-right: 1rem; }
.mg-lr-05 { margin-left: 0.5rem; margin-right: 0.5rem; }
.mg-lr-025 { margin-left: 0.25rem; margin-right: 0.25rem; }

.mg-l-2 { margin-left: 2rem; }
.mg-l-1 { margin-left: 1rem; }
.mg-l-05 { margin-left: 0.5rem; }
.mg-l-025 { margin-left: 0.25rem; }

.mg-r-2 { margin-right: 2rem; }
.mg-r-1 { margin-right: 1rem; }
.mg-r-05 { margin-right: 0.5rem; }
.mg-r-025 { margin-right: 0.25rem; }

.mg-t-2 { margin-top: 2rem; }
.mg-t-1 { margin-top: 1rem; }
.mg-t-05 { margin-top: 0.5rem; }
.mg-t-025 { margin-top: 0.25rem; }

.mg-b-2 { margin-bottom: 2rem; }
.mg-b-1 { margin-bottom: 1rem; }
.mg-b-05 { margin-bottom: 0.5rem; }
.mg-b-025 { margin-bottom: 0.25rem; }

/* Tables */
.tbl-100 { width: 100%; border-collapse: collapse; }
.tbl-75 { width: 75%; border-collapse: collapse; }
.tbl-50 { width: 50%; border-collapse: collapse; }

tr:nth-child(even) {
    background-color: var(--color-secondary-purple);
}

/* BUTTONS */
.btn-primary-pink { background-color: var(--color-primary-pink); }
.btn-primary-blue { background-color: var(--color-primary-blue); }
.btn-primary-yellow { background-color: var(--color-primary-yellow); }
.btn-primary-red { background-color: var(--color-primary-red); }
.btn-primary-green { background-color: var(--color-primary-green); }
.btn-primary-purple { background-color: var(--color-primary-purple); }
.btn-primary-disabled {
    background-color: var(--color-primary-grey);
    cursor: context-menu;
}

.btn-secondary-pink {
    border-color: var(--color-primary-pink);
    background-color: var(--color-secondary-pink);
}
.btn-secondary-blue {
    border-color: var(--color-primary-blue);
    background-color: var(--color-secondary-blue);
}
.btn-secondary-yellow {
    border-color: var(--color-primary-yellow);
    background-color: var(--color-secondary-yellow);
}
.btn-secondary-red {
    border-color: var(--color-primary-red);
    background-color: var(--color-secondary-red);
}
.btn-secondary-green {
    border-color: var(--color-primary-green);
    background-color: var(--color-secondary-green);
}
.btn-secondary-purple {
    border-color: var(--color-primary-purple);
    background-color: var(--color-secondary-purple);
}
.btn-secondary-disabled {
    border-color: var(--color-primary-grey);
    background-color: var(--color-secondary-grey);
    cursor: context-menu;
}

.btn { border: 1px solid transparent; }

.btn:hover {
    border: 1px solid black;
    cursor: pointer;
}

/* IMAGES */
.img-res {
    width: 75%;
    height: auto;
    object-fit: contain;
}

.img-min-width-250 { min-width: 250px; }

.img-xl { height: 300px; width: auto; }
.img-l { height: 200px; width: auto; }
.img-m { height: 150px; width: auto; }
.img-s { height: 100px; width: auto; }
.img-xs { height: 50px; width: auto; }

.img-40 { height: 40px; width: 40px; }
.img-50 { height: 50px; width: 50px; }
.img-60 { height: 60px; width: 60px; }
.img-70 { height: 70px; width: 70px; }

.flex { display: flex; }
.flex-items-center { place-items: center; }
.flex-items-center-y { align-items: center; }
.flex-items-center-x { justify-content: center; }
.flex-space-between { justify-content: space-between; }
.flex-space-evenly { justify-content: space-evenly; }
.flex-row-wrap { flex-flow: row wrap; }

.flex-col { display: flex; flex-direction: column; }
.flex-col-items-center { place-items: center; }
.flex-col-items-center-y { justify-content: center; }
.flex-col-items-center-x { align-items: center; }
.flex-col-space-between { align-items: space-between; }
.flex-col-space-evenly { align-items: space-evenly; }
.flex-col-wrap { flex-flow: column wrap; }

.flex-self-center { align-self: center; }

/* Grids */
.grid-2 { 
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.card-overlay {
    height: inherit;
    width: inherit;
    background-color: var(--color-secondary-grey);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    display: grid;
    place-items: center;
    border-radius: inherit;
}

.card-overlay:hover { opacity: 0.8 }

/* Badges */
.badge-tl {
    position: absolute;
    top: 8px;
    left: 0;
}
.badge-tr {
    position: absolute;
    top: 0;
    right: -5px;
}
.badge-br{
    position:absolute;
    bottom: 5px;
    right: 5px;

}

/* Background Colors */
.fill-primary-purple { background-color: var(--color-primary-purple); }
.fill-primary-yellow { background-color: var(--color-primary-yellow); }
.fill-primary-blue { background-color: var(--color-primary-blue); }
.fill-primary-green { background-color: var(--color-primary-green); }
.fill-primary-red { background-color: var(--color-primary-red); }
.fill-primary-pink { background-color: var(--color-primary-pink); }
.fill-primary-grey { background-color: var(--color-primary-grey); }

.fill-secondary-purple { background-color: var(--color-secondary-purple); }
.fill-secondary-yellow { background-color: var(--color-secondary-yellow); }
.fill-secondary-blue { background-color: var(--color-secondary-blue); }
.fill-secondary-green { background-color: var(--color-secondary-green); }
.fill-secondary-red { background-color: var(--color-secondary-red); }
.fill-secondary-pink { background-color: var(--color-secondary-pink); }
.fill-secondary-grey { background-color: var(--color-secondary-grey); }

/* Lists */
.lst-style-none { list-style: none; }
.lst-inline { display: inline; }
.li-inline { display: inline; }
.lst-stacked { list-style: none; overflow-y: scroll; }

/* Alerts */
#alert-dismissable { display: block; }

#alert-close-button {
    float: right;
    color: inherit;
    border: none;
    background: inherit;
    font-size: 1.1em;
}

/* Old Avatar */
#avatar-notification-container {
    position: relative;
    width: 60px;
}

#avatar-notification-badge {
    background: green;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 11px;
    right: 0;
    border-radius: 50%;
}

#icon-notification-badge {
    font-size: 0.7em;
    color: white;
    background: green;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 7px;
    right: 8px;
    border-radius: 50%;
}

/* INPUT */
input {
    outline: none;
}

.textfield {
    width: 150px;
    height: 40px;
    padding: 3px 8px;
    border: none;
    margin-right: 30px;
    border-radius: 3px;
}

.textfield-container {
    padding: 10px;
    height: 80px;
    max-width: 400px;
    border: 1px solid var(--color-primary-darker);
    border-radius: 2px;
    padding-left: 25px;
}

.textfield-label {
    font-size: 0.8em;
    color: var(--color-primary-darker);
    font-weight: bold;
}

.label-top {
    display: block;

}

.label-left {
    display: inline;
    margin-right: 10px;
}

.textfield-basic {
    border-bottom: 2px solid var(--color-primary-purple);
}

.textfield-basic:focus {
    background-color: var(--color-secondary-purple);
}

.textfield-bg {
    background-color: var(--color-secondary-purple);
    border: 2px solid transparent;
}

.textfield-bg:focus {
    border: 2px solid var(--color-primary-purple);
}

.textfield-outline {
    border: 2px solid transparent;
}

.textfield-outline:focus {
    border: 2px solid var(--color-primary-purple);
}

/* MODAL */
.modal {
    display: none;
    border-radius: 2px;
    position: fixed;
    left: 31%;
    top: 20%;
    width: 40rem;
    height: 15rem;
    animation-name: animatetop;
    animation-duration: 0.3s;
    z-index: 5;
}

#modal-dark {
    border: 2px solid var(--color-primary-primary);
    background-color: var(--color-primary-purple);
    color: white;
}

#modal-light {
    border: 2px solid var(--color-secondary-purple);
    background-color: var(--color-secondary-purple);
}

#modal-dismiss-button {
    cursor: pointer;
    position: absolute;
    top : 10px;
    right: 10px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 20%; opacity: 1}
}

/* SLIDER */
.slider { 
    background-color: var(--color-secondary-purple);
    height: 15px;
}

.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: var(--color-primary-purple);
}

.slider-square {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
}

.slider-square:hover {
    background-color: var(--color-secondary-blue);
}

.slider-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 10px;
}

.slider-circular:hover {
    background-color:var(--color-secondary-blue);
}

.slider-circular::-webkit-slider-thumb, .slider-circular::-moz-range-thumb {
    border-radius: 50%;
}


/* TOAST */
#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: var(--color-primary-purple);
    color: white;
    text-align: center; 
    border-radius: 2px;
    padding: 10px; 
    position: fixed; 
    left: 50%; 
    top: 30px; 
    z-index: 5;
}

#snackbar.show {
    visibility: visible; 
}

#notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}