<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Cards | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between pd-2">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="flex mg-lr-2">
            <a class="pd-05 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="pd-05 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="pd-05 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>
    <div class="container-page flex">
        <div class="cont-fluid h-100 card-w-25 h-100 mg-lr-2 txt-l">
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../alert/alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../button/button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black txt-700" href="card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../simplegrid/simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../toast/toast.html">Toast</a>
            </li>
        </div>

        <div class="h-100 w-100 mg-tb-2">
            <div class="cont-fluid">
                <p class="txt-xl mg-tb-1">Vertical Cards</p>
                <div class="card card-vert flex-col flex-col-items-center-x bdr-rad-m bdr-thick bdr-purple mg-lr-2">
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg" alt="corgi" class="img-xl mg-05 bdr-rad-m" />
                    <p class="txt-l">Card Title</p>
                    <p class="mg-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
    
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl mg-tb-1">Horizontal Cards</p>
                <div class="card card-hor flex flex-items-center bdr-rad-m bdr-thick bdr-purple mg-lr-2 w-50">
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg" alt="corgi" class="img-xl img-res mg-05 bdr-rad-m" />
                    <div class="card-vert flex-col flex-col-items-center-x items-left">
                        <p class="txt-l mg-tb-2">Card Title</p>
                        <p class="mg-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
    
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl mg-tb-1">Cards with Badges</p>
                <div class="card card-hor flex flex-items-center bdr-rad-m bdr-thick bdr-purple mg-lr-2">
                    <span class="badge-tl fill-primary-yellow txt-s txt-100 pd-025 bdr-rad-s">BADGE</span>
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg" alt="corgi" class="img-xl img-res mg-05 bdr-rad-m" />
                    <div class="card-vert flex-col flex-col-items-center-x items-left">
                        <p class="txt-l mg-tb-2">Card Title</p>
                        <p class="mg-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
    
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl mg-tb-1">Cards with Shadows</p>
                <div class="card card-vert flex-col flex-col-items-center-x bdr-rad-m bdr-thick bdr-none mg-lr-2 bs">
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg" alt="corgi" class="img-xl mg-05 bdr-rad-m" />
                    <p class="txt-l">Card Title</p>
                    <p class="mg-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
    
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl mg-tb-1">Cards with Text Overlays</p>
                <div class="card card-vert flex-col flex-col-items-center-x bdr-rad-m bdr-thick bdr-none mg-lr-2 bs">
                    <span class="card-overlay txt-700">TEXT OVERLAY</span>
                    <img src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg" alt="corgi" class="img-xl mg-05 bdr-rad-m" />
                    <p class="txt-l">Card Title</p>
                    <p class="mg-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>            
        </div>
    </div>
</body>
</html>