<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Avatar | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between flex-items-center">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="mg-lr-2">
            <a class="h-link pd-1 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>
    
    <div class="container-page flex">
        <div class="cont-fluid card-w-20 h-100 mg-l-2 txt-l">
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../alert/alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black txt-700" href="avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../button/button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../card/card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../simplegrid/simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../toast/toast.html">Toast</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
        </div>

        <div class="h-100 w-100">
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl txt-700 mg-tb-1">Circular Avatars</p>
                <p>Circular Avatars that can be used for profile components.</p>
                <div class="mg-1">                    
                    <img class="bdr-rad-round img-40 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-round img-50 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-round img-60 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-round img-70 mg-05" src="person.jpg"/> 
                </div>
                <iframe class="h-50"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=%253Cimg%2520class%253D%2522bdr-rad-round%2520img-40%2520mg-05%2522%2520src%253D%2522person.jpg%2522%252F%253E%2520"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl txt-700 mg-tb-1">Square Avatars</p>
                <p>Square Avatars that can be used for profile components. These are squares with rounded edges.</p>
                <div class="mg-1">                    
                    <img class="bdr-rad-l img-40 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-l img-50 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-l img-60 mg-05" src="person.jpg"/> 
                    <img class="bdr-rad-l img-70 mg-05" src="person.jpg"/> 
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=%253Cimg%2520class%253D%2522bdr-rad-l%2520img-40%2520mg-05%2522%2520src%253D%2522person.jpg%2522%252F%253E%2520"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </div>        
    </div>
</body>
</html>