<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Slider | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between pd-2">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="flex mg-lr-2">
            <a class="pd-05 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="pd-05 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="pd-05 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>
    <div class="container-page flex">
        <div class="cont-fluid h-100 card-w-25 h-100 mg-lr-2 txt-l">
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../alert/alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black txt-700" href="button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../card/card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../simplegrid/simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../toast/toast.html">Toast</a>
            </li>
        </div>

        <div class="h-100 w-100">
            <div class="cont-fluid mg-lr-2">
                <p class="txt-xl mg-tb-1">Simple Sliders</p>
                <p>Simple slider of different widths. This is a default slider.</p>
                <div class="cont-fluid w-50 mg-lr-2">
                    <input type="range" min="1" max="50" class="w-100">
                    <input type="range" min="1" max="50" class="w-75">
                    <input type="range" min="1" max="50" class="w-50"> <br>
                    <input type="range" min="1" max="50" class="w-25">
                </div>
            </div>

            <div class="cont-fluid mg-lr-2">
                <p class="txt-xl mg-tb-1">Square Sliders</p>
                <p>Wider and bigger than the default slider</p>
                <div class="cont-fluid w-75 mg-lr-2">
                    <input type="range" min="1" max="50" class="slider slider-square w-100">
                    <input type="range" min="1" max="50" class="slider slider-square w-75">
                    <input type="range" min="1" max="50" class="slider slider-square w-50"> <br>
                    <input type="range" min="1" max="50" class="slider slider-square w-25">
                </div>
            </div>
                
            <div class="cont-fluid mg-lr-2">
                <p class="txt-xl mg-tb-1">Circular Sliders</p>
                <p>Like the square sliders, but with rounder edges</p>
                <div class="cont-fluid w-75 mg-lr-2">
                    <input type="range" min="1" max="50" class="slider slider-circular w-100">
                    <input type="range" min="1" max="50" class="slider slider-circular w-75">
                    <input type="range" min="1" max="50" class="slider slider-circular w-50"> <br>
                    <input type="range" min="1" max="50" class="slider slider-circular w-25">
                </div>
            </div>
              
        </div>        
    </div>
</body>
</html>