<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Toast | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between pd-2">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="flex mg-lr-2">
            <a class="pd-05 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="pd-05 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="pd-05 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>
    <div class="container-page flex">
        <div class="cont-fluid h-100 card-w-25 h-100 mg-lr-2 txt-l">
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../alert/alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black txt-700" href="button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../card/card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../simplegrid/simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
            <li class="nav-list lst-style-none mg-tb-05">
                <a class="pd-1 txt-deco-none mg-tb-1 txt-black" href="../toast/toast.html">Toast</a>
            </li>
        </div>

        <div class="h-100 w-100">
            <div class="cont-fluid">
                <p class="txt-xl mg-tb-1">Toast - Snackbar</p>
                <p>Snackbar toasts are used to show messages on the screen. This snackbar will disappear after 3 seconds.</p>
                <button class="pd-05 mg-05 bdr-none bdr-rad-m btn btn-primary-purple txt-white" id="showSnackbar" onclick="showSnackbar()">Show Snackbar</button>
                <div id="snackbar"> This is the snackbar message. </div> 
            </div>

            <div class="cont-fluid">
                <p class="txt-xl mg-tb-1">Toast - Notify</p>
                <p>Toasts can also be used to show notifications on the screen. These also disappear after 3 seconds.</p>
                <button class="pd-05 mg-05 bdr-none bdr-rad-m btn btn-primary-purple txt-white" id="showNotification" onclick="showNotif()">Notify</button>
                <div id="notification-container"> </div>
            </div>
        </div>        
    </div>
    <script>
        const showSnackbar = () => {
            var toast = document.getElementById("snackbar");
            toast.className = "show";
            setTimeout(() => {
                toast.className = toast.className.replace("show", "");
            }, 3000);
        };

        let notificationContainer = document.getElementById("notification-container");

        const showNotif = () => {
            var notification = document.getElementById("notification");
            const div = document.createElement("div");
            div.classList.add("toast");
            div.innerText = "This is a notification.";
            div.style.textAlign = "center";

            notificationContainer.appendChild(div);

            setTimeout(() => {
                div.remove();
            }, 3000);
        }
    </script>
</body>
</html>
