<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Simple Grid | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between flex-items-center">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="mg-lr-2">
            <a class="h-link pd-1 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>
    <div class="container-page flex">
        <div class="cont-fluid card-w-20 h-100 mg-lr-2 txt-l">
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../alert/alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../button/button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../card/card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black txt-700" href="simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../toast/toast.html">Toast</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
        </div>

        <div class="h-100 w-100">
            <div class="cont-fluid">
                <p class="txt-xl txt-700 mg-tb-1">Grid with 2 columns</p>
                <div class="grid-2 bdr-thick w-50 bdr-green bdr-rad-m pd-2">
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 1</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 2</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 3</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 4</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 5</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 6</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 7</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-green bdr-rad-m txt-500">Grid Item 8</div>
                </div>
            </div>

            <br>

            <div class="cont-fluid">
                <p class="txt-xl txt-700 mg-tb-1">Grid with 3 columns</p>
                <div class="grid-3 bdr-thick w-50 bdr-blue bdr-rad-m pd-2">
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 1</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 2</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 3</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 4</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 5</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 6</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 7</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 8</div>
                    <div class="mg-025 w-100 pd-1 bdr-thin bdr-green fill-primary-blue bdr-rad-m txt-500">Grid Item 9</div>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>