.list-spaced {
    display: inline;
}

.list-item-inline {
    display: inline;
    text-decoration: none;
    padding-left: 10px;
}

.list-stacked {
    list-style: none;
}

.list-item-stacked {
    border: 1px solid bisque;
    text-decoration: none;
    padding: 15px 10px;
    width: 450px;
}