<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Text Utilities</title>
</head>
<body>
    <div class="container-component-list">
        <ul class="component-list">
            <li class="component-list-item">
                <a class="component-link" href="../../index.html">Home</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../alert/alert.html">Alert</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../badge/badge.html">Badge</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../button/button.html">Button</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../card/card.html">Card</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../image/image.html">Image</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../input/input.html">Input</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../lists/lists.html">Lists</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../modal/modal.html">Modal</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../rating/rating.html">Rating</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../simplegrid/simplegrid.html">Simple Grids</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../slider/slider.html">Slider</a>
            </li>
            <li class="component-list-item">
                <a class="component-link link-active" href="textutilities.html">Text Utilities</a>
            </li>
            <li class="component-list-item">
                <a class="component-link" href="../toast/toast.html">Toast</a>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="container">
            <h1 class="div-heading">Headings</h1>
            <p>HTML Headings h1 to h6 look like this:</p>
            <table class="heading-table">
                <tr>
                    <th>HTML Tag</th>
                    <th>Example Text</th>
                </tr>
                <tr>
                    <td>h1 Tag</td>
                    <td><h1>This is a heading</h1></td>
                </tr>
                <tr>
                    <td>h2 Tag</td>
                    <td><h2>This is a heading</h2></td>
                </tr>
                <tr>
                    <td>h3 Tag</td>
                    <td><h3>This is a heading</h3></td>
                </tr>
                <tr>
                    <td>h4 Tag</td>
                    <td><h4>This is a heading</h4></td>
                </tr>
                <tr>
                    <td>h5 Tag</td>
                    <td><h5>This is a heading</h5></td>
                </tr>
                <tr>
                    <td>h6 Tag</td>
                    <td><h6>This is a heading</h6></td>
                </tr>
            </table>
        </div>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Paragraphs</h1>
            <p>Paragraphs can be written inside the p Tag. This wraps around the edge of the screen, like this:</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Text in different sizes</h1>
            <p>This is a sentence with normal sized text in it. It is written inside the p tag.</p>
            <small>This is a sentence with smaller text in it. It is written inside the small tag.</small>
        </div>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Colored Text</h1>
            <p class="text-red">This is some error text.</p>
            <p class="text-warning">This is some warning text.</p>
            <p class="text-gray">This is some gray text.</p>
        </div>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Centered Text</h1>
            <p>The following text is centered on the screen.</p>
            <p class="text-centered">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    
        <hr/>
    
        <div class="container">
            <h1 class="div-heading">Code Snippets</h1>
            <p>Code Snippets will look like this on the screen.</p>
            <div class="code">
                &lt;p&gt;This is some stuff inside a p tag&lt;/p&gt; <br>
                &lt;p&gt;This is some stuff inside a p tag&lt;/p&gt; <br>
                &lt;p&gt;This is some stuff inside a p tag&lt;/p&gt; <br>
                &lt;p&gt;This is some stuff inside a p tag&lt;/p&gt; <br>
                &lt;p&gt;This is some stuff inside a p tag&lt;/p&gt; <br>
            </div>
        </div>
    </div>
    
</body>
</html>