<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Alert | Purple CSS</title>
</head>
<body>
    <header class="flex flex-space-between flex-items-center">
        <h1 class="txt-700 txt-xl mg-1">PURPLE CSS!</h1>
        <div class="mg-lr-2">
            <a class="h-link pd-1 txt-black txt-deco-none" href="index.html">Home</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="documentation.html">Docs</a>
            <a class="h-link pd-1 txt-black txt-deco-none" href="about.html">About</a>
        </div>
    </header>

    <div class="container-page flex">
        <div class="cont-fluid card-w-20 h-100 mg-l-2 txt-l">
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../../documentation.html">Getting Started</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black txt-700" href="alert.html">Alert</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../avatar/avatar.html">Avatar</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../badge/badge.html">Badge</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../button/button.html">Button</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../card/card.html">Card</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../image/image.html">Image</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../input/input.html">Input</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../lists/lists.html">List</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../modal/modal.html">Modal</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../navigation/navigation.html">Navigation</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../simplegrid/simplegrid.html">Simple Grid</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../slider/slider.html">Slider</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../toast/toast.html">Toast</a>
            </li>
            <li class="nav-list lst-style-none pd-tb-025">
                <a class="pd-1 txt-deco-none txt-black" href="../utilities/utilities.html">Utilities</a>
            </li>
        </div>

        <div class="h-100 w-100">
            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl txt-700 mg-tb-1">Basic Alerts</p>
                <p>Alerts provide feedback based on user actions.</p>
                <div class="mg-05 pd-05 w-50 fill-secondary-pink bdr-pink bdr-thick bdr-rad-m">This is a Primary Alert</div>
                <div class="mg-05 pd-05 w-50 fill-secondary-purple bdr-purple bdr-thick bdr-rad-m"> This is a secondary alert </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-red bdr-red bdr-thick bdr-rad-m"> This is an error alert </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-yellow bdr-yellow bdr-thick bdr-rad-m"> This is a warning alert </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-green bdr-green bdr-thick bdr-rad-m"> This is a success alert </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-blue bdr-blue bdr-thick bdr-rad-m"> This is an info alert </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-grey bdr-grey bdr-thick bdr-rad-m"> This is a dark alert </div>
                <iframe class="h-50"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522mg-05%2520pd-05%2520w-50%2520fill-secondary-pink%2520bdr-pink%2520bdr-thick%2520bdr-rad-m%2522%253EThis%2520is%2520a%2520Primary%2520Alert%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>

            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl txt-700 mg-tb-1">Alerts with Links</p>
                <div class="mg-05 pd-05 w-50 fill-secondary-pink bdr-pink bdr-thick bdr-rad-m">This is a Primary Alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>.</div>
                <div class="mg-05 pd-05 w-50 fill-secondary-purple bdr-purple bdr-thick bdr-rad-m"> This is a secondary alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-red bdr-red bdr-thick bdr-rad-m"> This is an error alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-yellow bdr-yellow bdr-thick bdr-rad-m"> This is a warning alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-green bdr-green bdr-thick bdr-rad-m"> This is a success alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-blue bdr-blue bdr-thick bdr-rad-m"> This is an info alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <div class="mg-05 pd-05 w-50 fill-secondary-grey bdr-grey bdr-thick bdr-rad-m"> This is a dark alert. Redirect <a class="txt-700 csr-point txt-underline">here</a>. </div>
                <iframe class="h-75"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=%253Cdiv%2520class%253D%2522mg-05%2520pd-05%2520w-50%2520fill-secondary-pink%2520bdr-pink%2520bdr-thick%2520bdr-rad-m%2522%253EThis%2520is%2520a%2520Primary%2520Alert.%2520Redirect%2520%253Ca%2520class%253D%2522txt-700%2520csr-point%2520txt-underline%2522%253Ehere%253C%252Fa%253E.%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

            </div>

            <div class="cont-fluid mg-tb-2">
                <p class="txt-xl txt-700 mg-tb-1">Dismissable Alerts</p>
                <p>These alerts can be hidden or removed by clicking the close button.</p>
                <div id="alert-dismissable" class="flex mg-05 pd-05 w-50 fill-secondary-yellow bdr-yellow bdr-thick bdr-rad-m"> This is a warning alert that can be dismissed.
                    <button id="alert-close-button" onClick="hideDiv()">&times;</button>
                </div>
                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=%253Cdiv%2520id%253D%2522alert-dismissable%2522%2520class%253D%2522flex%2520mg-05%2520pd-05%2520w-50%2520fill-secondary-yellow%2520bdr-yellow%2520bdr-thick%2520bdr-rad-m%2522%253E%2520This%2520is%2520a%2520warning%2520alert%2520that%2520can%2520be%2520dismissed.%250A%2520%2520%2520%2520%253Cbutton%2520id%253D%2522alert-close-button%2522%2520onClick%253D%2522hideDiv%28%29%2522%253E%2526times%253B%253C%252Fbutton%253E%250A%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
                </iframe>

                <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=shades-of-purple&wt=none&l=javascript&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=7px&ph=5px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=144%25&si=false&es=1x&wm=false&code=const%2520hideDiv%2520%253D%2520%28%29%2520%253D%253E%2520%257B%250A%2520%2520var%2520x%2520%253D%2520document.getElementById%28%2522alert-dismissable%2522%29%253B%250A%2520%2520if%2520%28x.style.display%2520%253D%253D%253D%2520%2522none%2522%29%2520%257B%250A%2520%2520%2520%2520x.style.display%2520%253D%2520%2522block%2522%253B%250A%2520%2520%257D%2520else%2520%257B%250A%2520%2520%2520%2520x.style.display%2520%253D%2520%2522none%2522%253B%250A%2520%2520%257D%250A%257D"
                sandbox="allow-scripts allow-same-origin">
                </iframe>


            </div>
        </div>        
    </div>
    <script>
        const hideDiv = () => {
          var x = document.getElementById("alert-dismissable");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
</body>
</html>